.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 2rem 0;
  background-color: #242424;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
  text-align: center;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.footer-subHeading {
  font-size: 30px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

form {
  margin: 0;
  padding: 0;
}
.footer-input {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 20px;
  font-size: 18px;
  border: none;
  border: 1px solid #fff;
  border-radius: 2px;
  outline: none;
}

.subscribe-button {
  color: #23a9f2;
  font-size: 23px;
}

.footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 160px;
  margin: 16px;
  text-align: left;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #fff;
}

.footer-link-items a {
  margin-bottom: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  width: 100%;
  max-width: 1000px;
}

.social-media-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.social-logo {
  display: flex;
  align-items: center;
  justify-self: start;
  margin-bottom: 16px;
  margin-left: 20px;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.website-rights {
  margin-bottom: 16px;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }
  .footer-link-wrapper:first-child {
    margin-left: 15%;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}
