#root {
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home-container {
  margin-top: 2rem;
}

.home-wrapper {
  width: 90%;
  margin: 0 auto;
}

.products-container {
  font-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
}

.products-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #ccc;
}
.products-header h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  vertical-align: center;
}

.products-recommend {
  width: 30%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #fff;
  vertical-align: center;
  background-color: #44b1ce;
  border-radius: 10px;
}
.products-recommend p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
}

@media screen and (max-width: 800px) {
  .products-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: #ccc;
  }

  .products-header h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 25px;
    vertical-align: center;
  }

  .products-recommend {
    width: 50%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: #fff;
    vertical-align: center;
    background-color: #44b1ce;
    border-radius: 10px;
  }

  .products-recommend p {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
  }
}
